html{
  font-size: 62.5%;
}
body{
  width: 100%;
  background-color: #1B191B;
  font-size: 1.6em;
  font-family: Roboto;
  color: #FFFEF2;
}
h1{
  padding-left: 0.5rem;
  margin-bottom: -1rem;
  position: relative; top:; left: 0.6rem;
  font-family: Sawarabi Gothic;
  font-size: 2.4rem;
  border-left: 0.3rem solid #C22E1A;
}
.button{
  height:  4rem;
}
button{
  width: 19rem;
  height: 4rem;
  position: absolute; right:3rem;
  color: #FFFEF2;
  font-family: Sawarabi Gothic;
  font-size: 1.6rem;
  background-color: #C22E1A;
  border: 0.1rem solid #FFFEF2;
}
h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  position:relative; left: 3rem;
  font-family: Sawarabi Mincho;
  font-size: 1.8rem;
  display: table;
  padding: 0 2rem 0 2rem;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
}
img{
  display: block;
  width: 30rem;
  height: 20rem;
  margin: 0 auto;
  padding: 0 5rem 0 5rem;
}
.name{
  margin: 0.5rem auto -0.5rem 2rem;
  font-size: 1.8rem;
}
p{
  margin: 0 2rem;
}
.unjyun_title{
  border-bottom-color: #C22E1A;
}
.unjyun_img--sp{
  background-color: #C22E1A;
}
.sinpan_title{
  border-bottom-color: #A2A8AB;
}
.sinpan_img--sp{
  background-color: #A2A8AB;
}
.singikai_title{
  border-bottom-color: #565656;
}
.singikai_img--sp{
  background-color: #565656;
}
.kiroku_title{
  border-bottom-color: #F9CE7A;
}
.kiroku_img--sp{
  background-color: #F9CE7A;
}
@media screen and (max-width:799px){
  .unjyun_img--pc,.sinpan_img--pc,.singikai_img--pc,.kiroku_img--pc{
    display: none;
  }
}
@media screen and (min-width:800px) {
  html{
    font-size: 80%;
  }
  .button{
    height: 4rem;
  }
  button{
    margin-right: 3rem;
    margin-left: auto;
  }
  .unjyun,.singikai{
    display: inline-flex;
    width: 100%;
    margin-top: 5rem;
    justify-content: flex-start;
  }
  .sinpan,.kiroku{
    display: inline-flex;
    width: 100%;
    margin-top: 5rem;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  .unjyun_img--sp,.sinpan_img--sp,.singikai_img--sp,.kiroku_img--sp{
    display: none;
  }
  .unjyun_img--pc{
    display: inline;
    background-color: #C22E1A;
    margin-left: 10rem;
  }
  .sinpan_img--pc{
    display: inline;
    background-color: #A2A8AB;
    margin-right: 10rem;
  }
  .singikai_img--pc{
    display: block;
    background-color: #565656;
    margin-left: 10rem;
  }
  .kiroku_img--pc{
    display: block;
    text-align: left;
    background-color: #F9CE7A;
    margin-right: 10rem;
  }
  .unjyun_sentence,.singikai_sentence{
    display: inline;
    min-width: 30rem;
    margin-left: 5rem;
  }
  .sinpan_sentence,.kiroku_sentence{
    display: inline;
    min-width: 30rem;
    margin-right: 5rem;
  }
}
