html{
  font-size: 62.5%
}
body{
  background-color: #1B191B;
  font-size: 1.6em;
  font-family: Roboto;
  color: #FFFEF2;
}
h1{
  padding-left: 1rem;
  position: relative; top:; left: 0.6rem;
  font-family: Sawarabi Gothic;
  font-size: 2.4rem;
  border-left: 0.5rem solid #F9CE7A;
}
p{
  margin-top: -1rem;
  position: relative; top:0; left: 4rem;
}
.access_map{
  text-align: center;
}
iframe{
  text-align: center;
  width: 340px;
  height: 200px;
}
@media screen and (min-width:600px){
  html{
    font-size: 80%;
  }
  .sp{
    display: none;
  }
  iframe{
    width: 1000px;
    height: 500px;
  }
}
@media screen and (max-width:599px){
  .pc{
    display: none;
  }
}
